#login {
	width: 50%;
    margin: auto;
    padding-top: 150px;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 36px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}
#login label {
	margin: 2em 0 1em 0;
}

#forget-password {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
    color: #3d3d3d;
    cursor: pointer;
    text-align: center;
    padding-bottom: 355px;
}

.errorMessage {
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
	color: red;
}

.hidden {
	display: none;
}